.myBook {
  padding-top: 25px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.myBook h1 {
  font-size: 20px;
  font-weight: 700;
  text-align: right;
}
.myBook img {
  max-height: 361px;
  max-width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.myBook .content-book {
  margin-top: 50px;
}
.myBook .content-book h3 {
  font-size: 18px;
  font-weight: 700;
}
.myBook .content-book p {
  margin-bottom: 5px;
  line-height: 25px;
}

@media (max-width: 989px) {
  .myBook .content-book {
    margin-top: 5px !important;
  }
}
.main-services {
  padding-top: 25px;
}
.main-services .baner-menu {
  text-align: center;
  background-color: #fff;
  border-radius: 0.3125rem;
  padding: 3rem 0 2.5rem;
  box-shadow: 0 1px 8px #005430;
  transition: all 0.5s;
}
.main-services .baner-menu:hover {
  opacity: 0.5;
}
.main-services .baner-menu .baner-img {
  margin-bottom: 0.625rem !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.main-services .baner-menu .baner-img img {
  max-width: 182px;
  height: 182px;
}
.main-services .baner-menu h3 {
  font-size: 1.75rem;
  color: #005430;
  font-weight: 500;
  margin-top: 20px;
}
.main-services .baner-menu .btn-outline-success {
  width: 10rem;
  margin-top: 20px;
  background-color: #005430 !important;
}
.main-services .baner-menu .btn-outline-success a {
  color: #eee !important;
}

.title {
  text-align: center;
}
.title h2 {
  font-weight: bold;
  color: #005430;
  text-shadow: 1px 1px #fff;
}

.main-templat {
  padding-top: 25px;
}
.main-templat .box {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}
.main-templat .box img {
  max-width: 100% !important;
  height: 100% !important;
}
.main-templat .box .box-text {
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
}
.main-templat .box .box-text .card-body {
  padding-bottom: 10px;
}
.main-templat .box .box-text .card-text {
  margin-bottom: 10px;
  color: #005430;
}
.main-templat .box .box-text .list-inline {
  padding: 0;
}
.main-templat .box .box-text .list-inline .list-inline-item {
  margin: 0;
  padding-left: 8px;
}
.main-templat .box .box-text .list-inline .list-inline-item .fa-brands {
  width: 50px;
  height: 50px;
}
.main-templat .box .box-text .card-body-2 {
  padding: 0 16px 16px 16px;
}
.main-templat .box .box-text .card-body-2 .view {
  margin-left: 10px;
}
.main-templat .box .box-text .card-body-2 .btn-outline-success {
  color: #005430;
  border-color: #005430;
}
.main-templat .box .box-text .card-body-2 .btn-outline-success:hover {
  color: #fff;
  background-color: #005430;
}
.main-templat .box .box-text .card-body-2 .btn-outline-success:hover a {
  color: #fff !important;
}
.main-templat .box .box-text .card-body-2 .btn-outline-success a {
  text-decoration: none !important;
  color: #005430 !important;
}

@font-face {
  font-family: cairo;
  src: url(../fonts/Cairo-Regular.ttf);
}
body {
  font-family: "cairo", "Courier New", Courier, monospace;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.top-nav {
  border-bottom: 2px solid #005430;
}
.top-nav .soical {
  font-size: 20px !important;
  color: #005430;
  margin: 0 !important;
  padding: 0 !important;
}
.top-nav .soical a {
  color: #005430;
  transition: all 0.5s ease;
}
.top-nav .soical a:hover {
  color: #9DB0A3;
}

.navbar-toggler {
  border: none !important;
  border-radius: none !important;
  outline: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  border: none !important;
  border-radius: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar {
  background-color: #005430 !important;
}
.navbar .fa-bars {
  font-size: 30px;
  color: #eee;
}

.offcanvas-body .navbar-nav {
  padding: 0 !important;
}
.offcanvas-body .navbar-nav a {
  border-bottom: 1px solid #eee;
  font-size: 18px;
  padding-right: 10px !important;
  transition: all 0.3s ease !important;
}
.offcanvas-body .navbar-nav a:hover {
  background-color: #005430;
  color: #eee !important;
}
.offcanvas-body .navbar-nav a .purple {
  color: #005430;
  transition: all 0.3s ease !important;
  margin-left: 15px;
  width: 25px;
  height: 25px;
}
.offcanvas-body .navbar-nav a:hover .purple {
  color: #eee;
}

.main {
  padding-top: 50px;
}
.main .baner-menu {
  text-align: center;
  background-color: #005430;
  border-radius: 0.3125rem;
  padding: 3rem 0 2.5rem;
  transition: all 0.5s;
}
.main .baner-menu:hover {
  opacity: 0.5;
}
.main .baner-menu .baner-img {
  margin-bottom: 0.625rem !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.main .baner-menu .baner-img img {
  max-width: 202px;
  height: 202px;
}
.main .baner-menu h3 {
  font-size: 1.75rem;
  color: #eee;
  font-weight: 500;
}

.down-nav {
  border-top: 2px solid #005430;
}
.down-nav .soical {
  font-size: 20px !important;
  color: #005430;
  margin: 0 !important;
  padding: 0 !important;
}
.down-nav .soical a {
  color: #005430;
  transition: all 0.5s ease;
}
.down-nav .soical a:hover {
  color: #9DB0A3;
}

footer {
  max-height: 50px;
  color: #eee;
  background-color: #005430;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer h5 {
  font-size: 16px;
}

@media (max-width: 500px) {
  footer h5 {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
