@import "./varible";

.myBook {
     padding-top: 25px;
     box-shadow: 0 1px 8px rgba(0,0,0,.1);
     border-radius: 10px;
     h1 {
          font-size: 20px;
          font-weight: 700;
          text-align: right;
     }
     img {
          max-height: 361px;
          max-width: 300px;
          margin-top: 10px;
          margin-bottom: 20px;
     }
     .content-book {
          margin-top: 50px;
          h3{
               font-size: 18px;
               font-weight: 700;
          }
          p{
               margin-bottom: 5px;
               line-height: 25px;
          }
     }
}
@media (max-width: 989px) {
     .myBook{
          .content-book {
               margin-top: 5px !important;
          }
     }
     
}